<h1>Hello</h1>
<h2>Testing</h2>

<%# NAV BAR PARENT PAGE%>
  <div class="navbar navbar-expand-sm navbar-light navbar-runware-parent">
      <a  href="">
        <%= image_tag "logo.png", alt: "Logo", width: 120, height: 24 %>
      </a>
  </div>

<%# NAV BAR CHILD PAGE%>
  <div class="navbar navbar-expand-sm navbar-light navbar-runware-child">
    <div>
      <a href= "">
        <div class="btn-with-icon">
        <i class="fa-solid fa-angle-left"></i>
        <a class="btn-text" href="#">Back</a>
      </div>
      </a>
    </div>
    <a href="" class="fa-solid fa-xmark"></a>
  </div>

<%# Button with icon %>
  <div class="btn-with-icon">
    <i class="fa-solid fa-angle-left"></i>
    <a class="btn-text" href="#">Back</a>
  </div>

<%# Button  primary %>
<a class="btn btn-flat" href="#">button</a>

<%# Button  ghost%>
<a class="btn btn-ghost" href="#">button</a>

<%# Button  play%>
<a class="btn btn-play" href="#"><i class="fa-regular fa-circle-play"></i></a>


<%# Footer %>
  <div class="footer">
      <div class="footer-btn-with-icon">
        <%# <%= link_to  home_path do %>
        <%# <%= 'active' if controller_name == 'pages' && action_name == 'home' %>
        <i class="fa-solid fa-house"></i>
        <div>Home</div>
        <%# <% end %>
      </div>

      <div class="footer-btn-with-icon">
        <%# <%= link_to bookmarks_path do %>
        <%# <%= 'active' if controller_name == '' && action_name == '' %>
        <i class="fa-solid fa-bookmark"></i>
        <div>Bookmark</div>
        <%# <% end %>
      </div>
  </div>


<%# CARD %>
<div class="card-run">
  <%= image_tag "map.png",  width: 124, crop: :fill, class: "image-card" %>
  <div class="card-run-infos">
    <h2>Tiegarten run</h2>
    <div class="card-text-icon">
      <i class="fa-solid fa-person-running"></i>
      <p> 8,0km </p>
    </div>
    <p>Nice route for sunny days. Lorem ipsum dolor sit.</p>
  </div>
</div>
