
<div class="container">
<div class="row">
<div class="col-lg-4 my-6">

<div class="form-inputs-new">



<h1>Your route has finished!</h1>
<h2>Summary</h2>
<p>Distance : </p>
<p>Total time : <%= Time.at(@run.ending_time - @run.starting_time).utc.strftime("%H:%M:%S") %></p>
<p>Pace : km</p>
<p>Upload a picture :</p>
<%= simple_form_for [ @run, @bookmark ] do |f| %>
  <%= f.input :photo, as: :file, input_html: { class: "custom-form-input-new" } %>
  <%= f.button :submit, "Favorite the Route", class: "btn-flat" %>
<% end %>
</div>
</div>
</div>
</div>
<%# <%= link_to "Favorite the Route", bookmarks_path  %>

