



<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-3 my-6">
      <div class="form-inputs-new">

<h1>Your route has finished!</h1>

<!--summary data are hardcoded-->
<h3>Summary</h3>
  <div class="inline-p">
    <div class="grid-container">
      <div class="distance">
        <div>Distance</div>
        <div>10km</div>
      </div>
      <div class="time">
        <div>Total time</div>
        <div><%= Time.at(@run.ending_time - @run.starting_time).utc.strftime("%H:%M:%S") %></div>
      </div>
      <div class="pace">
        <div>Pace</div>
        <div>6km/h</div>
    </div>
  </div>

<h4 id="comment-heading">Comments</h4>
<form action="/submit-comment" method="post">
  <label for="comment"></label><br>
  <%= f.input :comment, placeholder: "Enter your comment here", as: :text, input_html: { rows: "10" }, input_html: { class: "custom-form-input" } %>
</form>

<h4>Upload image</h4>
<%= simple_form_for [ @run, @bookmark ], html: { multipart: true } do |f| %>
  <div class="upload-container">
    <label class="upload-box" for="upload-photo">
      <%= f.input :photos, as: :file, input_html: { class: "custom-form-input-new", multiple: true } %>
      <img id="image-preview" alt="Preview">
      <span class="icon"><i class="fa-solid fa-camera-retro"></i></span>
    </label>
  </div>

  <%= f.button :submit, "Favorite this route", class: "btn btn-ghost btn-wide", id:"favorite-button" %>
  <%= f.button :submit, "Finish", class: "btn btn-flat btn-wide", id:"submit-button" %>
<% end %>

      </div>
    </div>
  </div>
</div>

