<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-3 my-6">
      <div class="form-inputs-new">

<h1>Your route has finished!</h1>

<!--summary data are hardcoded-->
<h3>Summary</h3>
  <div class="inline-p">
    <div class="grid-container">
      <div class="distance">
        <div>Distance</div>
        <div>10km</div>
      </div>
      <div class="time">
        <div>Total time</div>
        <div><%= Time.at(@run.ending_time - @run.starting_time).utc.strftime("%H:%M:%S") %></div>
      </div>
      <div class="pace">
        <div>Pace</div>
        <div>6km/h</div>
    </div>
  </div>

  <%= simple_form_for [ @run, @bookmark ], html: { multipart: true } do |f| %>
    <h4 id="comment-heading">Comments</h4>

    <%= f.input :comment, label: false, placeholder: "How do you feel?", as: :text, input_html: { rows: "10" }, input_html: { class: "custom-form-input" } %>

    <h4>Upload image</h4>
    <div class="upload-container">
      <label class="upload-box" for="upload-photo">
      <%= f.input :photos, label: false, as: :file, input_html: { id: "upload-photo", multiple: true, class: "hidden-file-input", accept: "image/*" } %>
      <img id="image-preview" alt="Preview">
      <span class="icon"><i class="fa-solid fa-camera-retro"></i></span>
      </label>
    </div>
    <%= f.button :submit, "Favorite this route", class: "btn btn-ghost btn-wide", id:"favorite-button" %>
    <%= link_to "Finish", routes_path, class: "btn btn-flat-sum btn-wide" %>
  <% end %>
      </div>
    </div>
  </div>
</div>
</div>
