<div id="map" style="width: 100%; height: 400px;"></div>

<%= javascript_pack_tag 'map' %>


<h1><%= @route.name %></h1>

<p><strong>Descrição:</strong> <%= @route.description %></p>
<p><strong>Distância:</strong> <%= @route.distance %> km</p>

<%= link_to 'Voltar para a lista de rotas',  new_route_path, class: 'btn btn-primary' %>
