<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @steps.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<%= link_to 'New Route', new_route_path, class: 'btn btn-primary' %>

<h1><%= @route.name %></h1>

<p><strong>Description:</strong> <%= @route.description %></p>
<p><strong>Distance:</strong> <%= @route.distance %> km</p>

<%= link_to 'Start',  route_runs_path(@route), data: { turbo_method: :post}, class: 'btn btn-primary' %>
