<!DOCTYPE html>
<html>
  <head>
    <title>RunAware</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Favicon -->
    <%= favicon_link_tag 'Logomobile.png' %>
    <!-- iOS Icons -->
    <%= favicon_link_tag 'Logomobile.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'Logomobile.png', rel: 'apple-touch-icon', sizes: '152x152', type: 'image/png' %>
    <%= favicon_link_tag 'Logomobile.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' %>
    <%= favicon_link_tag 'Logomobile.png', rel: 'apple-touch-icon', sizes: '167x167', type: 'image/png' %>

  </head>

  <body>
    <div class="page-container">
      <% if (controller_name == "routes" || "bookmarks") && action_name == "index"%>
        <div><%= render "shared/navbar-parent" %></div>
        <div class="container-page">
          <%= yield %>
        </div>
        <div><%= render "shared/footer" %></div>
        <% else %>
        <div><%= render "shared/navbar-child" %></div>
        <div class="container-page-child">
        <%= yield %>
        </div>
      <% end %>
    </div>
  </body>
</html>
