<!DOCTYPE html>
<html>
  <head>
    <title>RunAware</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="page-container">
      <% if (controller_name == "routes" || "bookmarks") && action_name == "index"%>
      <div><%= render "shared/navbar-parent" %></div>
      <% else %>
      <div><%= render "shared/navbar-child" %></div>
      <% end %>
      <div class="container-page">
        <%= yield %>
      </div>
      <% if (controller_name == "routes" || "bookmarks") && action_name == "index"%>
      <div><%= render "shared/footer" %></div>
      <% else %>
      <% end %>
    </div>
  </body>
</html>
